<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
</head>
<body>
    {{ partial "nav.html" . }}
    <main>
        {{ block "main" . -}}{{- end }}
    
    {{ partial "footer.html" . }}
</main>
    <script src="{{ "js/bundle.js" | absURL }}"></script>
</body>

</html>