<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode | default "en" }}">

<head>
    {{ partial "head.html" . }}
    <link rel="stylesheet" type="text/css" href="{{ "css/main.css" | absURL }}">
    <link
        href="https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp"
        rel="stylesheet">
    {{ block "page_css" . }}{{ end }}
</head>
<body>
    {{ partial "nav.html" . }}
    <main>
        <button onclick="topFunction()" id="scroll" title="Go to top"><span></span></button>
        {{ block "main" . -}}{{- end }}
    
    {{ partial "footer.html" . }}
  </main>
    <script src="{{ "js/bundle.js" | absURL }}"></script>
    <script>
        // scroll
        var topBtn = document.getElementById("scroll");
        var logoLg = document.getElementById("logo-large")
        var logoSm = document.getElementById("logo-small")
        var collapsedNabvar = document.getElementById("collapsed-navbar")
        var navbar_separator = document.getElementById("navbar-separator")
        window.onscroll = function() {
          scrollFunction();
          if (window.location.pathname == '/') {
            animateLogoFunction();
          }
        };
      
        function animateLogoFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            logoLg.style.display = "none";
            logoSm.style.display = "block";
            collapsedNabvar.classList.add("w-50")
            navbar_separator.style.height = "20px";
          } else {
            logoLg.style.display = "block";
            logoSm.style.display = "none";
            collapsedNabvar.classList.remove("w-50")
            navbar_separator.style.height = "150px";
          }
        }
        
        function scrollFunction() {
          if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            topBtn.style.display = "block";
          } else {
            topBtn.style.display = "none";
          }
        }
      
        function topFunction() {
          document.body.scrollTop = 0;
          document.documentElement.scrollTop = 0;
        }
      </script>
      <script type="application/ld+json">
        {
          "@context": "http://schema.org/",
          "@type": "Organization",
          "name": "Associação Gichinkai de Karatê-Dô",
          "address": {
            "@type": "PostalAddress",
            "streetAddress": "Rua Antonio Ambuba, 32, Campo Limpo",
            "addressLocality": "São Paulo",
            "addressRegion": "São Paulo",
            "postalCode": "05782-370"
          },
          "telephone": "+55 (11) 98525-5207"
        }
        </script>
    {{ block "page_js" . }}{{ end }}
  </body>

</html>