{{ define "main" }}
<!-- Main jumbotron for a primary marketing message or call to action -->
{{ range first 1 .Pages.ByDate.Reverse }}
    {{ block "featurepost" .}}
        {{ partial "_featurepost" . }}
    {{ end }}
{{ end }}

<div class="container">
    <div class="row mb-3 pb-3">
        <div class="col">
            <div class="card-columns">
                {{ $paginator := .Paginate (.Pages.ByDate.Reverse) 10}}
                {{ range $paginator.Pages }}
                    {{ block "newscard" . }}
                        {{ partial "_newscard" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
    <div class="row justify-content-center mb-3">
        {{ template "_internal/pagination.html" .}}
    </div>
</div>

{{ end }}