{{ define "main" }}
{{ range first 1 .Pages.ByDate.Reverse }}
    {{ block "featurepost" .}}
        {{ partial "_featurepost" . }}
    {{ end }}
{{ end }}

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4 mb-3">
        {{ $paginator := .Paginate (.Pages.ByDate.Reverse) 10}}
        {{ range $paginator.Pages }}
            <div class="col mb-4">
                {{ block "newscard_new" . }}
                    {{ partial "_newscard" . }}
                {{ end }}
            </div>
        {{ end }}
    </div>
    <div class="row justify-content-center mb-3">
        {{ template "_internal/pagination.html" .}}
    </div>
</div>

{{ end }}