{{ define "main" }}
<!-- Main jumbotron for a primary marketing message or call to action -->
{{ range first 1 .Pages.ByDate.Reverse }}
    {{ block "featurepost" .}}
        {{ partial "_featurepost" . }}
    {{ end }}
{{ end }}

<div class="container">
    <div class="row mb-5 pb-5">
        <div class="col">
            <div class="card-columns">
                
                {{ range (.Paginate (.Pages.ByDate.Reverse )).Pages -}}
                    {{ block "newscard" . }}
                        {{ partial "_newscard" . }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </div>
</div>

{{ end }}