{{ define "page_js" }}
<script>
    function copylink() {
        var dummy = document.createElement("input");
        var text = window.location.href;
        document.body.appendChild(dummy)
        dummy.value = text;
        dummy.select();
        document.execCommand("copy");
        document.body.removeChild(dummy);
    };

    function goBack() {
        window.history.back();
    }

    // scroll
    var topBtn = document.getElementById("scroll");
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
        topBtn.style.display = "block";
        } else {
          topBtn.style.display = "none";
        }
    }

    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
{{ end }}

{{ define "main" }}
<section id="main">
    <div id="myCarousel" class="carousel slide mb-4" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active bg-primary" style="height: 24rem;">
                <img class="post-banner" src="{{ .Params.featuredImage }}" alt="Cover Image">
                <div class="overlay-div"></div>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="text-white">{{ .Params.title }}</h1>
                        <p>{{ .Params.description }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="container justify-content-center col-lg-10 mb-3">
            <i class="material-icons" style="font-size:15px;color: var(--primary);">chevron_left</i> <a href="javascript:goBack()">Voltar</a>
            <div class="mb-3" style="font-size: small;">
                <section>
                    <p class="mb-1" id="date">{{ .Date.Format "Mon Jan 2, 2006" }} | {{ .WordCount}} Palavras</p>
                </section>        
                {{ with .Params.tags }}
                <ul class="list-inline" id="tags">
                    {{ range . }}
                    <li class="list-inline-item"><i class="material-icons" style="font-size:15px;color: var(--primary);">local_offer</i> <a href="{{ $.Site.BaseURL }}tags/{{ . | urlize | lower }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <article id="content">
                <div class="columns is-centered">
                    <div class="column max-1000px">
                        {{ .Content }}
                    </div>
                </div>
            </article>
        </div>
        <div class="container justify-content-center col-lg-10 mb-5 share-button">
            {{ $title := .Title }}
            {{ $url := printf "%s" .URL | absLangURL }}
            {{ $body := print $title ", by " .Site.Title "\n" .Params.description "\n\n"}}
            <!-- Sharingbutton Facebook -->
            <a class="resp-sharing-button__link" href="https://facebook.com/sharer/sharer.php?u={{ $url }}" target="_blank" rel="noopener" aria-label="Facebook">
                <div class="resp-sharing-button resp-sharing-button--facebook resp-sharing-button--medium">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M18.77 7.46H14.5v-1.9c0-.9.6-1.1 1-1.1h3V.5h-4.33C10.24.5 9.5 3.44 9.5 5.32v2.15h-3v4h3v12h5v-12h3.85l.42-4z"/>
                        </svg>
                    </div>
                    Facebook
                </div>
            </a>
            <!-- Sharingbutton Twitter -->
            <a class="resp-sharing-button__link" href="https://twitter.com/intent/tweet/?text={{ $body }}&url={{ $url }}" target="_blank" rel="noopener" aria-label="Twitter">
                <div class="resp-sharing-button resp-sharing-button--twitter resp-sharing-button--medium">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M23.44 4.83c-.8.37-1.5.38-2.22.02.93-.56.98-.96 1.32-2.02-.88.52-1.86.9-2.9 1.1-.82-.88-2-1.43-3.3-1.43-2.5 0-4.55 2.04-4.55 4.54 0 .36.03.7.1 1.04-3.77-.2-7.12-2-9.36-4.75-.4.67-.6 1.45-.6 2.3 0 1.56.8 2.95 2 3.77-.74-.03-1.44-.23-2.05-.57v.06c0 2.2 1.56 4.03 3.64 4.44-.67.2-1.37.2-2.06.08.58 1.8 2.26 3.12 4.25 3.16C5.78 18.1 3.37 18.74 1 18.46c2 1.3 4.4 2.04 6.97 2.04 8.35 0 12.92-6.92 12.92-12.93 0-.2 0-.4-.02-.6.9-.63 1.96-1.22 2.56-2.14z"/>
                        </svg>
                    </div>
                    Twitter
                </div>
            </a>
            <!-- Sharingbutton WhatsApp -->
            <a class="resp-sharing-button__link" href="whatsapp://send?text={{ $body }}%0A{{ $url }}" target="_blank" rel="noopener" aria-label="WhatsApp">
                <div class="resp-sharing-button resp-sharing-button--whatsapp resp-sharing-button--medium">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M20.1 3.9C17.9 1.7 15 .5 12 .5 5.8.5.7 5.6.7 11.9c0 2 .5 3.9 1.5 5.6L.6 23.4l6-1.6c1.6.9 3.5 1.3 5.4 1.3 6.3 0 11.4-5.1 11.4-11.4-.1-2.8-1.2-5.7-3.3-7.8zM12 21.4c-1.7 0-3.3-.5-4.8-1.3l-.4-.2-3.5 1 1-3.4L4 17c-1-1.5-1.4-3.2-1.4-5.1 0-5.2 4.2-9.4 9.4-9.4 2.5 0 4.9 1 6.7 2.8 1.8 1.8 2.8 4.2 2.8 6.7-.1 5.2-4.3 9.4-9.5 9.4zm5.1-7.1c-.3-.1-1.7-.9-1.9-1-.3-.1-.5-.1-.7.1-.2.3-.8 1-.9 1.1-.2.2-.3.2-.6.1s-1.2-.5-2.3-1.4c-.9-.8-1.4-1.7-1.6-2-.2-.3 0-.5.1-.6s.3-.3.4-.5c.2-.1.3-.3.4-.5.1-.2 0-.4 0-.5C10 9 9.3 7.6 9 7c-.1-.4-.4-.3-.5-.3h-.6s-.4.1-.7.3c-.3.3-1 1-1 2.4s1 2.8 1.1 3c.1.2 2 3.1 4.9 4.3.7.3 1.2.5 1.6.6.7.2 1.3.2 1.8.1.6-.1 1.7-.7 1.9-1.3.2-.7.2-1.2.2-1.3-.1-.3-.3-.4-.6-.5z"/>
                        </svg>
                    </div>
                    WhatsApp
                </div>
            </a>
            <!-- Sharingbutton Telegram -->
            <a class="resp-sharing-button__link" href="https://telegram.me/share/url?text={{ $body }}&url={{ $url }}" target="_blank" rel="noopener" aria-label="Telegram">
                <div class="resp-sharing-button resp-sharing-button--telegram resp-sharing-button--medium">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                            <path d="M.707 8.475C.275 8.64 0 9.508 0 9.508s.284.867.718 1.03l5.09 1.897 1.986 6.38a1.102 1.102 0 0 0 1.75.527l2.96-2.41a.405.405 0 0 1 .494-.013l5.34 3.87a1.1 1.1 0 0 0 1.046.135 1.1 1.1 0 0 0 .682-.803l3.91-18.795A1.102 1.102 0 0 0 22.5.075L.706 8.475z"/>
                        </svg>
                    </div>
                    Telegram
                </div>
            </a>
              <!-- Share button CopyLink  -->
              <a class="resp-sharing-button__link" href="javascript:copylink()">
                <div class="resp-sharing-button resp-sharing-button--copylink resp-sharing-button--medium">
                    <div aria-hidden="true" class="resp-sharing-button__icon resp-sharing-button__icon--solid">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="3 0 18 18">
                            <path d="M3.9 12c0-1.71 1.39-3.1 3.1-3.1h4V7H7c-2.76 0-5 2.24-5 5s2.24 5 5 5h4v-1.9H7c-1.71 0-3.1-1.39-3.1-3.1zM8 13h8v-2H8v2zm9-6h-4v1.9h4c1.71 0 3.1 1.39 3.1 3.1s-1.39 3.1-3.1 3.1h-4V17h4c2.76 0 5-2.24 5-5s-2.24-5-5-5z"/>
                        </svg>
                    </div>
                    Copiar link
                </div>
            </a>
        </div>
        <div class="container justify-content-center col-lg-10 mb-5">
            {{ with .Params.categories }}
                <ul class="list-inline" id="tags">
                    <li class="list-inline-item"><b>Categorias</b> </li>
                    {{ range . }}
                    <li class="list-inline-item">| <a href="{{ $.Site.BaseURL }}categories/{{ . | urlize | lower }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>

        <div class="container justify-content-center col-lg-10 mb-3">
            {{- range .Params.authors }}
                <hr class="w-50 mb-4 mt-4 ml-0">
                {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
                {{ $original := .Resources.GetMatch "profile.jpg" }}
                {{ .Scratch.Set "author_image" ($original.Fill "110x110 Center") }}
                {{ $image_author := .Scratch.Get "author_image"}}
                    <div class="row justify-content-center justify-content-md-start">
                        <div class="order-md-1 mb-2">
                            <img class="rounded-circle shadow mb-3 img-fluid mx-auto d-block" src="{{ $image_author.RelPermalink }}" alt="" />    
                        </div>
                        <div class="col-md-6 col-sm-3 order-md-2 text-center text-md-left">
                            <a href="{{ .Permalink }}">{{ .Params.name }}</a>
                            <p>{{ .Content }}</p>
                        </div>
                    </div>
                {{ end }}
                <hr class="w-50 mb-5 mt-2 ml-0">
            {{ end }}
        </div>

        <div class="container justify-content-center col-lg-10 mb-5">
            {{ $related := (where (.Site.RegularPages.Related .) "Type" "posts") | first 3 }}
            {{ if $related }}
            <div class="content mb-3">
                <h2>Conteúdo relacionado</h2>
            </div>
            {{ end }}
            <div class="row row-cols-1 row-cols-md-3 row-cols-xl-4">
                {{ range $related }}
                    <div class="col mb-4">
                        {{ partial "_newscard" .}}
                    </div>
                {{ end }}
            </div>
        </div>
    </div>
</section>
<aside id="meta">
    <div class="container justify-content-center text-center">
        {{ with .PrevInSection }}
            <i class="material-icons" style="font-size:15px;color: var(--primary);">chevron_left</i>
            <a class="previous" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
        <i class="material-icons" style="font-size:13px;color: var(--primary);">more_vert</i>
        {{ with .NextInSection }}
            <a class="next" href="{{ .Permalink }}">{{ .Title }}</a>
            <i class="material-icons" style="font-size:15px;color: var(--primary);">chevron_right</i>
        {{ end }}
    </div>
</aside>
{{ end }}