{{ define "main" }}
<section id="main">
    <div id="myCarousel" class="carousel slide mb-4" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active bg-primary" style="height: 24rem;">
                <img class="post-banner" src="{{ .Params.coverImage.src }}" alt="{{ .Params.coverImage.name }}">
                <div class="overlay-div"></div>
                <div class="container">
                    <div class="carousel-caption text-left">
                        <h1 class="text-white">{{ .Params.title }}</h1>
                        <p>{{ .Params.subTitle }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container justify-content-center">
        <div class="container justify-content-center col-lg-10 mb-5">
            <div class="mb-3" style="font-size: small;">
                <section>
                    <p class="mb-1" id="date">{{ .Date.Format "Mon Jan 2, 2006" }} | {{ .WordCount}} Palavras</p>
                </section>        
                {{ with .Params.tags }}
                <ul class="list-inline" id="tags">
                    {{ range . }}
                        <li class="list-inline-item"><i class="material-icons" style="font-size:15px;color: var(--primary);">local_offer</i> <a href="{{ "tags" | absURL }}{{ . | urlize }}">{{ . }}</a></li>
                    {{ end }}
                </ul>
                {{ end }}
            </div>
            <article id="content">
                <div class="columns is-centered">
                    <div class="column max-1000px">
                        {{ .Content }}
                    </div>
                </div>
            </article>
        </div>
    </div>
</section>
<aside id="meta">
    <div class="container justify-content-center text-center">
        {{ with .PrevInSection }}
            <a class="previous" href="{{ .Permalink }}">{{ .Title }}</a>
            <i class="material-icons" style="font-size:15px;color: var(--primary);">chevron_left</i>
        {{ end }}
        <i class="material-icons" style="font-size:13px;color: var(--primary);">fiber_manual_record</i>
        {{ with .NextInSection }}
        <i class="material-icons" style="font-size:15px;color: var(--primary);">chevron_right</i>
            <a class="next" href="{{ .Permalink }}">{{ .Title }}</a>
        {{ end }}
    </div>
</aside>
{{ end }}