<div class="card">
    {{ $original := .Resources.GetMatch "profile.*" }}
    {{ if $original }}
        {{ .Scratch.Set "image_card" ($original.Fill "400x300 Center") }}
        {{ $image_card := .Scratch.Get "image_card" }}
        <img src="{{ $image_card.RelPermalink }}" class="card-img-top" alt="{{ .Title }}">
    {{ end }}
    <div class="card-body">
        <h6 class="text-uppercase">{{ .Title | safeHTML }}</h6>
        <p class="font-weight-normal" style="line-height: 120%;">{{ .Params.testimonial | safeHTML }}</p>
    </div>
</div>