<div class="card" style="border: none;">
    <div class="card-body">
        <blockquote class="blockquote mb-0">
            <div class="row">
                <div class="col-md-1 mr-5">
                    {{ $original := .Resources.GetMatch "profile.*" }}
                    {{ if $original }}
                        {{ .Scratch.Set "image_card" ($original.Fill "140x140 Center") }}
                        {{ $image_card := .Scratch.Get "image_card" }}
                        <img src="{{ $image_card.RelPermalink }}" class="rounded-circle m-2" alt="{{ .Title }}">
                    {{ end }}
                </div>
                <div class="col-md-8 ml-5 my-auto">
                    <p class="font-weight-normal" style="line-height: 120%; font-size: 1.05rem;">{{ .Params.short | safeHTML }}</p>
                    <footer class="blockquote-footer"><cite title="{{ .Title }}">{{ .Title }}</cite> - {{ .Params.extra }}</footer>
                </div>
            </div>
        </blockquote>
    </div>
</div>