 <!-- FOOTER -->
 <footer class="mainfooter">
  <div class="container">
    <div class="row mt-5 mb-3">
        <div class="col-md-12 text-center">
          <div class="footer-pad">
            <h4>Confira nossas redes sociais</h4>
            <ul class="social-network social-circle">
              <li>
                <a href="https://www.facebook.com/KaratedoAssociacaoGichinkaiSP/" class="icoFacebook" title="Facebook" target="blank">
                  <img src="/images/facebook.svg" alt="Facebook"/>
                </a>
              </li>
              <li>
                <a href="https://www.youtube.com/channel/UCcRbhFsSvcDcLbGA9cbaOjQ" class="icoYoutube" title="Youtube" target="blank">
                  <img src="/images/youtube.svg" alt="Youtube"/>
                </a>
              </li>
              <li>
                <a href="mailto:gichinkai@gmail.com?subject=Aula%20de%20Karatê&body=Ola%20Gostaria%20de%20saber%20mais%20sobre%20as%20aulas%20de%20karatê!" class="icoGmail" title="Gmail" target="blank">
                  <img src="/images/mail2.svg" alt="Email"/>
                </a>
              </li>
              <li>
                <a href="https://wa.me/5511985255207?text=Olá,%20gostaria%20de%20saber%20mais%20sobre%20as%20aulas%20de%20karatê!" class="icoWhatsapp" title="Whatsapp" target="blank">
                  <img src="/images/whatsapp.svg" alt="Whatsapp"/>
                </a>
              </li>
              <li>
                <a href="https://www.instagram.com/gichinkai/" class="icoInstagram" title="Instagram" target="blank">
                  <img src="/images/instagram.svg" alt="Instagram"/>
                </a>
              </li>
            </ul>
          </div>
        </div>
    </div>
    <div class="row">
      <div class="col-md-12 copy">
        <div class="footer-pad text-center">
          <p style="font-size: 12px;">&copy; 2010-2020 Uncover Systems</p>
        </div>
      </div>
    </div>
  </div>
</footer>