{{ define "main"}}
<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="15000">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active bg-primary">
      {{ $orig_welcome := .Resources.GetMatch "welcome.jpg" }}
      {{ .Scratch.Set "welcome_large" ($orig_welcome.Fill "2545x512 Center")}}
      {{ $welcome_large := .Scratch.Get "welcome_large" }}
      {{ .Scratch.Set "welcome_desktop" ($orig_welcome.Fill "1695x512 Center")}}
      {{ $welcome_desktop := .Scratch.Get "welcome_desktop" }}
      {{ .Scratch.Set "welcome_mobile" ($orig_welcome.Fill "500x512 Left")}}
      {{ $welcome_mobile := .Scratch.Get "welcome_mobile" }}
      <div class="overlay-div"></div>
      <picture>
        <source media="(max-width: 500px)" srcset="{{ $welcome_mobile.RelPermalink }}">
        <source media="(min-width: 1696px)" srcset="{{ $welcome_large.RelPermalink }}">
        <img class="first-slide" src="{{ $welcome_desktop.RelPermalink }}" alt="First Slide"/>
      </picture>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1 class="text-white">Associação Gichinkai De Karatê-Dô</h1>
          <p>Reunindo praticantes do karatê tradicional desde 1982</p>
          <p><a class="btn btn-lg btn-primary" href="/nossa_historia" role="button">Saiba Mais</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item bg-primary">
      {{ with .Site.GetPage "/memorial" }}
        {{ $orig_memorial := .Resources.GetMatch "memorial.jpg" }}
        {{ .Scratch.Set "memorial_large" ($orig_memorial.Fill "2545x512 Top") }}
        {{ $memorial_large := .Scratch.Get "memorial_large" }}
        {{ .Scratch.Set "memorial_desktop" ($orig_memorial.Fill "1695x512 Top") }}
        {{ $memorial_desktop := .Scratch.Get "memorial_desktop" }}
        {{ .Scratch.Set "memorial_mobile" ($orig_memorial.Fill "500x512 Center") }}
        {{ $memorial_mobile := .Scratch.Get "memorial_mobile" }}
        <div class="overlay-div"></div>
        <picture>
          <source media="(max-width: 500px)" srcset="{{ $memorial_mobile.RelPermalink }}">
          <source media="(min-width: 1696px)" srcset="{{ $memorial_large.RelPermalink }}">
          <img class="second-slide" src="{{ $memorial_desktop.RelPermalink }}" alt="Second Slide" />
        </picture>
      {{ end }}
      <div class="container">
        <div class="carousel-caption">
          <h1 class="text-white">Memorial</h1>
          <p>Sensei Paulo Moritoshi Nakaema, nosso grande mestre e conselheiro da Gichinkai</p>
          <p><a class="btn btn-lg btn-primary" href="/memorial" role="button">Saiba Mais</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item bg-primary">
      {{ with .Site.GetPage "/posts" }}
        {{ range first 1 .Pages.ByDate.Reverse }}
          {{ block "featurepost_home" .}}
            {{ partial "_featurepost_home" .}}
          {{ end }}
        {{ end }}
      {{ end }}
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Karate modo de vida section (about-karate) -->

<div class="container about-karate">
  <div class="row justify-content-center">
    <div class="col-lg-10">
      <h1 class="text-center">Karatê</h1>
      <h2 class="text-center">Um modo de vida</h2>
      <p class="text-center">O Karatê é uma arte marcial completa, que tem como objetivo o aprimoramento integral do ser humano.
        Mais do que um sistema de combate, é uma disciplina funcional que desenvolve as dimensões física,
        mental e espiritual de seus praticantes.</p>
    </div>
  </div>
</div>

<!-- Mente, corpo, espirito section (marketing) -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      {{ $orig_corpo := .Resources.GetMatch "corpo.jpg" }}
      {{ .Scratch.Set "corpo_img" ($orig_corpo.Fill "140x140 Top") }}
      {{ $corpo_img := .Scratch.Get "corpo_img" }}
      <img class="rounded-circle shadow mb-3"
        src="{{ $corpo_img.RelPermalink }}"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Corpo</h2>
      <p>A prática do karatê aumenta a força, a resistência física, o equilíbrio e a flexibilidade, organiza a postura,
        desenvolve a coordenação motora, promove agilidade e rapidez, desenvolve a consciência corporal e
        melhora o condicionamento físico global.</p>
    </div>
    <div class="col-lg-4">
      {{ $orig_mente := .Resources.GetMatch "mente.jpg" }}
      {{ .Scratch.Set "mente_img" ($orig_mente.Fill "140x140 Top") }}
      {{ $mente_img := .Scratch.Get "mente_img" }}
      <img class="rounded-circle shadow mb-3"
        src="{{ $mente_img.RelPermalink }}"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Mente</h2>
      <p>O karatê-dô aumenta o controle emocional, ajudando a lidar com a agressividade e a ansiedade;
        desenvolve a concentração, a atenção e o pensamento estratégico, estimula a criatividade, a inteligência e
        fortalece a autoestima.
      </p>
    </div>
    <div class="col-lg-4">
      {{ $orig_espirito := .Resources.GetMatch "espirito.jpg" }}
      {{ .Scratch.Set "espirito_img" ($orig_espirito.Fill "140x140 Center") }}
      {{ $espirito_img := .Scratch.Get "espirito_img" }}
      <img class="rounded-circle shadow mb-3"
        src="{{ $espirito_img.RelPermalink }}"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Espírito</h2>
      <p>O karatê-dô lapida o caráter de seus praticantes, desenvolvendo disciplina e respeito, transforma as
        práticas cotidianas em meditação ativa, amplia a consciência, desenvolve a intuição, possibilita a
        percepção da energia (ki) e ensina a utilizá-la.</p>
    </div>
  </div>
</div>

<!-- Quem pode treinar featurette-** -->
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="container about-karate">
    <div class="row justify-content-center">
      <div class="col-lg-10">
        <h2 class="text-center">Quem pode treinar</h2>
        <p class="text-center">Todos podem treinar karatê! E para começar, não é necessário conhecer e nem ter praticado outra
          modalidade de esporte ou de arte marcial. Todas as aulas da Gichinkai começam com as técnicas mais
          simples e básicas do karatê, como se todos estivessem praticando essa arte pela primeira vez. Assim, um
          principiante sempre vai se sentir parte de um grupo de pessoas como ele.</p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-25 mb-5 mt-4">

  <div class="row featurette justify-content-center">
    <div class="col-md-3 order-md-1 mb-2">
      {{ $orig_criancas := .Resources.GetMatch "criancas.jpg" }}
      {{ .Scratch.Set "criancas_mobile" ($orig_criancas.Fill "140x140 Center") }}
      {{ $criancas_mobile := .Scratch.Get "criancas_mobile" }}
      {{ .Scratch.Set "criancas_desktop" ($orig_criancas.Fill "400x400 Center") }}
      {{ $criancas_desktop := .Scratch.Get "criancas_desktop" }}
      <picture>
        <source media="(max-width: 768px)" srcset="{{ $criancas_mobile.RelPermalink }}">
        <img class="rounded-circle shadow featurette-image img-fluid mx-auto d-block" src="{{ $criancas_desktop.RelPermalink }}" alt="Generic placeholder image">
      </picture>
    </div>
    <div class="col-md-3 order-md-2 mt-3 mb-3 text-center text-md-left">
      <h2 class="featurette-heading">Crianças</h2>
      <p>O karatê ensina a criança desde cedo a usar bem o corpo, desenvolvendo a coordenação motora e a
        consciência corporal. Além disso, prepara a criança para lidar com o outro e ensina o autocontrole, a
        tolerância à frustração, o respeito à hierarquia e aos limites, a coragem, a benevolência e a lealdade.</p>
    </div>
    <div class="col-md-3 order-md-3 mb-2">
      {{ $orig_adultos := .Resources.GetMatch "adultos.jpg" }}
      {{ .Scratch.Set "adultos_mobile" ($orig_adultos.Fill "140x140 Center") }}
      {{ $adultos_mobile := .Scratch.Get "adultos_mobile" }}
      {{ .Scratch.Set "adultos_desktop" ($orig_adultos.Fill "400x400 Center") }}
      {{ $adultos_desktop := .Scratch.Get "adultos_desktop" }}
      <picture>
        <source media="(max-width: 768px)" srcset="{{ $adultos_mobile.RelPermalink }}">
        <img class="rounded-circle shadow featurette-image img-fluid mx-auto d-block" src="{{ $adultos_desktop.RelPermalink }}" alt="Generic placeholder image">
      </picture>
    </div>
    <div class="col-md-3 order-md-4 mt-3 mb-3 text-center text-md-left">
      <h2 class="featurette-heading">Adultos</h2>
      <p>Além dos benefícios da prática de uma atividade física, o karatê ensina a defesa pessoal, diminui a
        ansiedade, aumenta a energia e a motivação, promove a socialização com base em valores saudáveis,
        ensina a lidar com a agressividade e a desenvolver a assertividade, e promove um bem estar geral nos
        seus praticantes.</p>
    </div>
  </div>

  <div class="row featurette justify-content-center mt-5">
    <div class="col-md-3 order-md-1 mb-2">
      {{ $orig_melhor_idade := .Resources.GetMatch "melhor_idade.jpg" }}
      {{ .Scratch.Set "melhor_idade_mobile" ($orig_melhor_idade.Fill "140x140 Center") }}
      {{ $melhor_idade_mobile := .Scratch.Get "melhor_idade_mobile" }}
      {{ .Scratch.Set "melhor_idade_desktop" ($orig_melhor_idade.Fill "400x400 Center") }}
      {{ $melhor_idade_desktop := .Scratch.Get "melhor_idade_desktop" }}
      <picture>
        <source media="(max-width: 768px)" srcset="{{ $melhor_idade_mobile.RelPermalink }}">
        <img class="rounded-circle shadow featurette-image img-fluid mx-auto d-block" src="{{ $melhor_idade_desktop.RelPermalink }}" alt="Generic placeholder image">
      </picture>
    </div>
    <div class="col-md-3 order-md-2 mt-3 mb-3 text-center text-md-left">
      <h2 class="featurette-heading">A melhor idade</h2>
      <p>Além de todos os outros benefícios citados, a prática do karatê-dô na terceira idade melhora drasticamente
        a qualidade de vida, porque aumenta o bem-estar, diminui as perdas físicas e cognitivas comuns na
        terceira idade, e, por meio do budô, estimula a alegria natural do seu praticante, promovendo a paz de
        espírito e a consciência da beleza e do sentido da vida.</p>
    </div>
    <div class="col-md-3 order-md-3 mb-2">
      {{ $orig_especiais := .Resources.GetMatch "especiais.jpg" }}
      {{ .Scratch.Set "especiais_mobile" ($orig_especiais.Fill "140x140 Top") }}
      {{ $especiais_mobile := .Scratch.Get "especiais_mobile" }}
      {{ .Scratch.Set "especiais_desktop" ($orig_especiais.Fill "400x400 Top") }}
      {{ $especiais_desktop := .Scratch.Get "especiais_desktop" }}
      <picture>
        <source media="(max-width: 768px)" srcset="{{ $especiais_mobile.RelPermalink }}">
        <img class="rounded-circle shadow featurette-image img-fluid mx-auto d-block" src="{{ $especiais_desktop.RelPermalink }}" alt="Generic placeholder image">
      </picture>
    </div>
    <div class="col-md-3 order-md-4 mt-3 mb-2 text-center text-md-left">
      <h2 class="featurette-heading">Alunos especiais</h2>
      <p>O karatê é um grande aliado no desenvolvimento global de pessoas com deficiência física, intelectual ou
        sensorial, ou com transtornos do desenvolvimento. Além disso, auxilia na cura e/ou na qualidade de vida
        de pessoas com doenças incapacitantes. Cada aluno é trabalhado de forma interdisciplinar, em diálogo
        contínuo com os outros profissionais envolvidos no caso.</p>
    </div>
  </div>
</div>
<!-- /END THE FEATURETTES -->

<!-- Locais de treino -->
<div class="container marketing">
  <hr class="featurette-divider mb-5 mt-5">

  <div class="container about-karate">
    <div class="row">
      <div class="mx-auto text-center">
        <h2 class="mb-3">Dojo em Casa</h2>
        <p>Devido à pandemia de covid-19, em 2020 as aulas e treinos só estão sendo realizados à distância. Entre
          em contato para mais informações.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="https://www.youtube.com/watch?v=N68j2xq0k8A" target="blank">
        <img class="rounded img-fluid" src="https://source.unsplash.com/Md449nTVCXk/1080x500" alt="Karate em casa">
      </a>
    </div>
    <!-- Contact area -->
    <div class="row">
      <div class="mx-auto text-center mt-2">
        <p>Entre em contato para mais informações sobre nossas aulas e agendar uma aula experimental</p>
        <a class="btn btn-md btn-primary" href="https://wa.me/5513996736941?text=Olá,%20gostaria%20de%20agendar%20uma%20aula%20experimental%20online!" role="button">Agendar aula</a>
      </div>
    </div>
  </div>
</div>
{{ end }}