{{ define "page_css"}}
<style>
  /* Set the size of the div element that contains the map */
  #map {
    height: 400px;  /* The height is 500 pixels */
    width: 100%;  /* The width is the width of the web page */
  }
</style>
{{ end }}

{{ define "page_js"}}
<script>
  // Initialize and add the map
  console.log("Teste initMap");
  function initMap() {
    // The location of Dojo's
    var augusta = {lat: -23.5615359, lng: -46.6635528};
    var contentStringAugusta = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h3 id="firstHeading" class="firstHeading">Aikido Nova Era</h3>'+
        '<a href="https://www.google.com/maps/dir//-23.5615359,-46.6635528/@-23.561536,-46.663553,16z?hl=en" target="_blank">'+
        '<img class="first-slide" src="https://source.unsplash.com/hwLAI5lRhdM/300x200">'
        '</a>'+
        '</div>';
    var infowindowAugusta = new google.maps.InfoWindow({content: contentStringAugusta});

    var tatuape = {lat: -23.5431694, lng: -46.5674751};
    var contentStringTatuape = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h3 id="firstHeading" class="firstHeading">Tatuape</h3>'+
        '<a href="https://www.google.com/maps/dir//-23.5431743,-46.5652864/@-23.543174,-46.565286,16z?hl=en" target="_blank">'+
        '<img class="first-slide" src="https://source.unsplash.com/hwLAI5lRhdM/300x200">'
        '</a>';
        '</div>';
    var infowindowTatuape = new google.maps.InfoWindow({content: contentStringTatuape});

    var ciaAthletica = {lat: -23.5620661, lng: -46.5619989};
    var contentStringCiaAthletica = '<div id="content">'+
        '<div id="siteNotice">'+
        '</div>'+
        '<h3 id="firstHeading" class="firstHeading">Cia Athletica Analia Franco</h3>'+
        '<a href="https://www.google.com/maps/dir//-23.562071,-46.5598102/@-23.562071,-46.55981,16z?hl=en" target="_blank">'+
        '<img class="first-slide" src="https://source.unsplash.com/hwLAI5lRhdM/300x200">'
        '</a>';
        '</div>';
    var infowindowCiaAthletica = new google.maps.InfoWindow({content: contentStringCiaAthletica});

    // The map, centered at dojo
    var map = new google.maps.Map(document.getElementById("map"), {zoom: 13, center: {lat: -23.5552111, lng: -46.6187217}});

    // The marker, positioned at augusta
    var markerAugusta = new google.maps.Marker({position: augusta, map: map, title: 'Aikido Nova Era'});
    markerAugusta.addListener('click', function(){
      infowindowAugusta.open(map, markerAugusta);
    });
    var markerTatuape = new google.maps.Marker({position: tatuape, map: map});
    markerTatuape.addListener('click', function() {
      infowindowTatuape.open(map, markerTatuape);
    });
    var markerCiaAthletica = new google.maps.Marker({position: ciaAthletica, map:map});
    markerCiaAthletica.addListener('click', function() {
      infowindowCiaAthletica.open(map, markerCiaAthletica);
    });
  }
</script>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBbUik7BI-m72iILlFRt3Hi9Rt6MUW0_2k&callback=initMap">
</script>
{{ end }}

{{ define "main"}}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active bg-primary">
      <img class="first-slide" src="https://source.unsplash.com/Xl-ilWBKJNk/1600x700"
        alt="First slide">
      <div class="container">
        <div class="carousel-caption text-left">
          <h1 class="text-white">Associação Gichinkai De Karate-Do</h1>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed elementum.</p>
          <!-- <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p> -->
        </div>
      </div>
    </div>

    <div class="carousel-item bg-primary">
      <img class="second-slide" src="https://source.unsplash.com/SBK40fdKbAg/1600x700"
        alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1 class="text-white">Memorial</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
            metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="/memorial" role="button">Saiba Mais</a></p>
        </div>
      </div>
    </div>

    <div class="carousel-item bg-primary">
      <img class="third-slide" src="https://source.unsplash.com/DgMotiPocGU/1600x700"
        alt="Third slide">
      <div class="container">
        <div class="carousel-caption text-right">
          <h1 class="text-white">Karate Blog</h1>
          <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget
            metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <p><a class="btn btn-lg btn-primary" href="/posts" role="button">Leia mais</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<!-- Karate modo de vida section (about-karate) -->

<div class="container about-karate">
  <div class="row">
    <div class="text-center">
      <h1>Karate</h1>
      <h2>Um modo de vida</h2>
      <p style="font-family: 'Open Sans', sans-serif;">Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut lorem urna, dignissim at scelerisque sit amet, 
        malesuada at quam. Morbi ac vehicula dolor, sit amet condimentum urna. Cras finibus dolor in nisi hendrerit 
        facilisis. Mauris laoreet dictum velit id imperdiet. Proin et urna risus. Etiam consequat lacus eu urna tristique, 
        in sagittis tellus rutrum. Praesent ut arcu urna. Fusce vehicula pulvinar porttitor.</p>
    </div>
  </div>
</div>

<!-- Mente, corpo, espirito section (marketing) -->

<div class="container marketing">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <div class="col-lg-4">
      <img class="rounded-circle mb-3"
        src="https://source.unsplash.com/igLzPKOvZNw/140x140"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Mente</h2>
      <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula
        ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.</p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle mb-3"
        src="https://source.unsplash.com/J1BwEL2n530/140x140"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Corpo</h2>
      <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis
        consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
      </p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4">
      <img class="rounded-circle mb-3"
        src="https://source.unsplash.com/uGlJHMEifB4/140x140"
        alt="Generic placeholder image" width="140" height="140">
      <h2>Espírito</h2>
      <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula porta
        felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum
        massa justo sit amet risus.</p>
    </div><!-- /.col-lg-4 -->
  </div><!-- /.row -->
</div>

<!-- Quem pode treinar featurette-** -->
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="container about-karate">
    <div class="row">
      <div class="text-center">
        <h2>Quem pode treinar</h2>
        <p>Interdum et malesuada fames ac ante ipsum primis in faucibus. Ut lorem urna, dignissim at scelerisque sit amet, 
          malesuada at quam. Morbi ac vehicula dolor, sit amet condimentum urna. Cras finibus dolor in nisi hendrerit 
          facilisis. Mauris laoreet dictum velit id imperdiet. Proin et urna risus. Etiam consequat lacus eu urna tristique, 
          in sagittis tellus rutrum. Praesent ut arcu urna. Fusce vehicula pulvinar porttitor.</p>
      </div>
    </div>
  </div>

  <hr class="featurette-divider w-25">

  <div class="row featurette justify-content-center">
    <div class="col-md-6 text-right">
      <h2 class="featurette-heading">Crianças</h2>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 text-right">
      <img class="featurette-image img-fluid mx-auto" src="https://source.unsplash.com/ryOMte-FerE/400x400" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider w-25">

  <div class="row featurette justify-content-center">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading">Adultos</h2>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="https://source.unsplash.com/8yMXitiya4w/400x400" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider w-25">

  <div class="row featurette justify-content-center">
    <div class="col-md-6 text-right">
      <h2 class="featurette-heading">Idosos</h2>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 text-right">
      <img class="featurette-image img-fluid mx-auto" src="https://source.unsplash.com/A8dbWpVbfZ0/400x400" alt="Generic placeholder image">
    </div>
  </div>

  <hr class="featurette-divider w-25">

  <div class="row featurette justify-content-center">
    <div class="col-md-6 order-md-2">
      <h2 class="featurette-heading">Alunos especiais</h2>
      <p>Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
        semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
        commodo.</p>
    </div>
    <div class="col-md-5 order-md-1">
      <img class="featurette-image img-fluid mx-auto" src="https://source.unsplash.com/c_xS7ngiWhQ/400x400" alt="Generic placeholder image">
    </div>
  </div>
</div>
<!-- /END THE FEATURETTES -->

<!-- Locais de treino -->
<div class="container marketing">
  <hr class="featurette-divider">

  <div class="container about-karate">
    <div class="row">
      <h2 class="mx-auto">Locais de Treino</h2>
      <div id="map"></div>
    </div>
    <!-- Contact area -->
    <div class="row">
      <div class="mx-auto text-center">
        <h2>Contato</h2>
        <i class="material-icons-outlined" style="font-size:20px;color: var(--red);">gmail</i>
        gichinkai@gmail.com
        <i class="material-icons-outlined" style="font-size:20px;color: var(--red);">phone</i>
        (11) 98525-5207
      </div>
    </div>
    <form>
      <div class="form-row  justify-content-center">
        <div class="col-sm-4 mr-1 mb-3">
          <label for="inputName" class="sr-only" for="inputName">Nome</label>
          <input type="text" class="form-control form-control-sm" id="inputName" placeholder="Nome">
        </div>
        <div class="col-sm-4 mr-1 mb-3">
          <label for="inputEmail" class="sr-only" for="inputEmail">Email</label>
          <input type="email" class="form-control form-control-sm" id="inputEmail" placeholder="Email">
        </div>
        <div class="col-sm-4 mr-1 mb-3">
          <label for="inputPhone" class="sr-only" for="inputPhone">Telefone</label>
          <input type="tel" class="form-control form-control-sm" id="inputPhone" placeholder="Telefone">
        </div>
        <div class="col-sm-4 mr-1 mb-3">
          <label for="inputSub" class="sr-only" for="inputSub">Assunto</label>
          <input type="text" class="form-control form-control-sm" id="inputSub" placeholder="Assunto">
        </div>
        <div class="col-md-8 mb-3">
          <label for="inputMsg" class="sr-only" for="inputMsg">Mensagem</label>
          <textarea class="form-control" id="inputMsg" rows="4" placeholder="Mensagem"></textarea>
        </div>
        <div class="col-md-8 text-right">
          <button type="submit" class="btn btn-primary mb-2">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}