{{ define "main" }}
{{ $orig_memorial := .Resources.GetMatch .Params.image}}
{{ .Scratch.Set "memorial_large" ($orig_memorial.Fill "2545x512 Top") }}
{{ $memorial_large := .Scratch.Get "memorial_large" }}
{{ .Scratch.Set "memorial_desktop" ($orig_memorial.Fill "1695x512 Top") }}
{{ $memorial_desktop := .Scratch.Get "memorial_desktop" }}
{{ .Scratch.Set "memorial_mobile" ($orig_memorial.Fill "500x512 Top") }}
{{ $memorial_mobile := .Scratch.Get "memorial_mobile" }}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active bg-primary">
      <div class="overlay-div"></div>
      <picture>
        <source media="(max-width: 500px)" srcset="{{ $memorial_mobile.RelPermalink }}">
        <source media="(min-width: 1695px)" srcset="{{ $memorial_large.RelPermalink }}">
        <img class="second-slide" src="{{ $memorial_desktop.RelPermalink }}" alt="Memorial">
      </picture>
      <div class="container">
        <div class="carousel-caption text-left">
          <h1 class="text-white">{{ .Params.memory }}</h1>
          <p>{{ .Params.intro }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container justify-content-center">
  <div class="container justify-content-center col-lg-10 mt-5 mb-5">
    <article>
      <div class="columns is-centered">
        <div class="column max-1000px memorial">
          {{ .Content }}
        </div>
      </div>
    </article>
  </div>
</div>
{{ end }}