{{ define "main" }}
  {{ $orig_memorial := .Resources.GetMatch .Params.image}}
  {{ .Scratch.Set "memorial_large" ($orig_memorial.Fill "2545x512 Top") }}
  {{ $memorial_large := .Scratch.Get "memorial_large" }}
  {{ .Scratch.Set "memorial_desktop" ($orig_memorial.Fill "1695x512 Top") }}
  {{ $memorial_desktop := .Scratch.Get "memorial_desktop" }}
  {{ .Scratch.Set "memorial_mobile" ($orig_memorial.Fill "500x512 Center") }}
  {{ $memorial_mobile := .Scratch.Get "memorial_mobile" }}
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active bg-primary">
        <div class="overlay-div"></div>
        <picture>
          <source media="(max-width: 500px)" srcset="{{ $memorial_mobile.RelPermalink }}">
          <source media="(min-width: 1695px)" srcset="{{ $memorial_large.RelPermalink }}">
          <img class="second-slide" src="{{ $memorial_desktop.RelPermalink }}" alt="Homenagem a Sensei Nakaema, sentado com o kimono branco, braços cruzados, um sorriso e um olhar sereno">
        </picture>
        <div class="container">
          <div class="carousel-caption text-left">
            <h1 class="text-white">{{ .Params.memory }}</h1>
            <p>{{ .Params.description }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container justify-content-center">
    <div class="container justify-content-center col-lg-10 mt-5 mb-5">
      <article>
        <div class="columns is-centered">
          <div class="column max-1000px memorial">
            {{ .Content }}
            {{ $orig_close := .Resources.GetMatch .Params.closeimg}}
            {{ .Scratch.Set "close_desktop" ($orig_close.Fill "1080x500 Top") }}
            {{ $close_desktop := .Scratch.Get "close_desktop" }}
            {{ .Scratch.Set "close_mobile" ($orig_close.Fill "690x320 Top") }}
            {{ $close_mobile := .Scratch.Get "close_mobile" }}
            <picture>
              <source media="(max-width: 768px)" srcset="{{ $close_mobile.RelPermalink }}">
              <img class="rounded img-fluid" src="{{ $close_desktop.RelPermalink }}" alt="Celebração, sensei nakaema entregando um diploma a um de seus estudantes.">
            </picture>
          </div>
        </div>
      </article>
    </div>
  </div>
{{ end }}